@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
:root{
    --default-font: 'Roboto', sans-serif;
    --background-color-1: #1f2937;
    --background-color-2: #f3f4f6;
    --button: #4f46e5;
    --colr-1: #7e7e7e;
    --support-colr: #6366f1;
    --sales-colr: #fcd34d;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--default-font);
}

h1{
    color: white;
    font-size: 1.5rem;
}

.header p{
    color: white;
    font-size: 1rem;
    margin-right: 20px;
}
.header div{
    gap: 15px;
    display: flex;
    align-items: center;
}

.header{
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 11vh;
    background-color: var(--background-color-1);
}

.navigation{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 14vw;
    height: 89vh;
    background-color: white;
}

.navigation .list-items img, .dashboard .list-items img, .dash-top img, .header div:nth-of-type(2) img{
    width: 20px;
}
.navigation .list-items img{
    position: relative;
    top: 3px;
    width: 20px;
}

hr{
    margin-bottom: 10px;
}

.main-content{
    display: flex;
}

.list-items{
    list-style: none;
    
}
.list-items a{
    padding-left: 5px;
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: none;
    color: black;
}

.dashboard{
    background-color: var(--background-color-2);
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: fl; */
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    
}



.content{
    display: flex;
    flex-direction: column;
    max-height: 500px;
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
    width: 90%;
    padding: 0px 20px 20px 20px;
    box-shadow: 2px 2px 2px 2px #d7d7d7;
}

.dash-top{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 0 70px;
}

.input-labels{
    display: block;
    color: var(--colr-1);
    font-weight: 700;
   

}
input{
    margin-top: 10px;
    width: 600px;
}
.input-containers:nth-of-type(1){
    grid-column: 1/3;
    position: relative;

}

.input-containers:nth-of-type(8){
    grid-column: 1/3;
    position: relative;

}

form{
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: space-around;
}

input,select{
    margin-top: 6px;
    margin-bottom: 30px;
    max-width: 500px;
    height: 35px;
    border: 1px solid var(--colr-1);
    border-radius: 5px;
    padding: 10px 10px;
}

.input-containers:nth-of-type(1) select{
    width: 80px;
    height:40px;

}

.input-containers:nth-of-type(8) select{
     height:40px;
}


.form-submit {
    position: relative;
    left: 900px;
    bottom: 50px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    background-color: var(--button);
    border: none;
    cursor: pointer;
    width: 90px;
   
}


@media screen and (min-width: 1920px) {
    .form-submit {
        left: 1100px;
        bottom: 70px;
       
    }
    input,select{
        max-width: 700px;
    }

}
@media screen and (max-width: 1220px) {
    .form-submit {
        left: 800px;
        bottom: 70px;
       
    }
    input,select{
        max-width: 400px;
    }

}




  
